.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 200px;
    gap: 10px;
    justify-content: center;
}

.item{
    border: 1px solid black;
    text-align: center;
}

.header{
    grid-column: 1/4;
    background-color: burlywood;
}

.content{
    grid-column: 1/3;
    background-color: deepskyblue;
}

.footer{
    grid-column: 1/4;
    height: 100px;
    background-color: greenyellow;
}
